/*
font-family: 'Raleway', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Marcellus SC', serif;
*/
#discussionScrollDiv::-webkit-scrollbar-track, #sidecontent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#discussionScrollDiv::-webkit-scrollbar, #sidecontent::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

#discussionScrollDiv::-webkit-scrollbar-thumb, #sidecontent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #888;
}
/* Move down content because we have a fixed navbar that is 50px tall */
html body {
    padding-bottom: 20px;
    font-family: 'Arial', cursive;
    height: 100%;
}
ul {
    padding-left: 0;
    padding-right: 5px;
}
#searchBox {
    margin-bottom: 10px;
}
.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}

.counter {
    width: 5%;
    color: white;
}

#discussionScrollDiv {
    color: white;
    overflow-y: scroll;
}

#mySideNav {
    height: 100%;
}

#mySideNav li {
    margin: 5px 5px 5px 5px;
}

#error {
    color: red;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    text-align: center;
    color: white;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    position: absolute;
}



#mySideNav h3 {
    top: 10px;
    font-family: 'Pacifico',cursive;
    font-weight: 100;
    text-align: center;
    display: inline;
    z-index: 100;
    color: white;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    margin: 5px;
}

#OnOff{
    float: right;
}

#sidecontent {
    overflow-y: hidden;
}
.chatbox {
    background-color: #7A7979;
    padding: 15px;
}

.stat {
    background: #4b79cf;
    background-size: 600% 600%;
    padding: 0;
}
.grad {
    /*background: linear-gradient(230deg, #ff0000, #ff8800, #ffff00, #88ff00, #00ff00, #00ff88, #00ffff, #0088ff, #0000ff, #8800ff);*/
    background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    padding: 0;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@media screen and (max-width: 370px) {
    .title {
        font-size: 22px;
        top: 5px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: rgba(0,0,0,0.5);
    }

    .body-content {
        padding: 0;
    }
}

#burger {
    display: none;
}

#closebtn:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}

#mySideNav #closebtn {
    display: none;
}

.container {
    top: -40px !important;
    margin-top: 45px !important;
    height: 100%;
}

#header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    color: white;
    position: absolute;
    display: block;
    text-align: center;
}


#userInfo {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#mySideNav .jumbotron {
    background-size: 1000%;
    padding: 0;
    left: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow-y: scroll;
}
@media screen and (max-width: 992px) {
    #body-content {
        margin: 0;
    }

    #col-md-4 {
        display: none;
    }


    #burger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        position: fixed;
        top: 0;
        padding: 0;
        margin: 0;
        left: 30px;
    }

    #mySideNav {
        box-shadow: 0px 0px 15px #000;
        height: 100% !important;
        position: fixed;
        z-index: 10;
        top: 0;
        /*display: inline;*/
        margin: 0px;
        left: -30px;
        width: 0;
        background-color: transparent;
        overflow-x: hidden;
        transition: 0.5s;
    }

        #mySideNav .jumbotron {
            background-size: 1000%;
            padding: 0;
            left: 0;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        #mySideNav #closebtn {
            position: absolute;
            display: block;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
}


/*Button styling from: http://cssdeck.com/labs/purely-css */

a {
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    text-align: center;
}

    a:hover {
        background-color: #e3e3e3;
        border-color: rgba(0,0,0,0.5);
        text-decoration: none;
        color: black;
    }

    a.btn {
        display: inline-block;
        color: #666;
        background-color: #eee;
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px 30px;
        margin: 5px 15px 5px 0px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.3);
        border-bottom-width: 3px;
        min-width: 183px;
    }

        a.btn:hover {
            background-color: #e3e3e3;
            border-color: rgba(0,0,0,0.5);
        }

        a.btn:active {
            background-color: #CCC;
            border-color: rgba(0,0,0,0.9);
        }

        /* blue button */

        a.btn.btn-blue {
            background-color: #699DB6;
            border-color: rgba(0,0,0,0.3);
            text-shadow: 0 1px 0 rgba(0,0,0,0.5);
            color: #FFF;
        }

            a.btn.btn-blue:hover {
                background-color: #4F87A2;
                border-color: rgba(0,0,0,0.5);
            }

            a.btn.btn-blue:active {
                background-color: #3C677B;
                border-color: rgba(0,0,0,0.9);
            }

        /* red button */

        a.btn.btn-red {
            background-color: #E48681;
            border-color: rgba(0,0,0,0.3);
            text-shadow: 0 1px 0 rgba(0,0,0,0.5);
            color: #FFF;
        }

            a.btn.btn-red:hover {
                background-color: #DA4F49;
                border-color: rgba(0,0,0,0.5);
            }

            a.btn.btn-red:active {
                background-color: #B32C24;
                border-color: rgba(0,0,0,0.9);
            }

@media screen and (min-width: 992px) {
    #mySideNav {
        width: 260px;
    }
}

@media screen and (max-width: 420px) {
    #userInfo .currentName {
        font-size: small;
    }
}

@media screen and (max-height: 1080px) {
    #mySideNav {
        height: 653px;
    }
}

input[type=text]:focus {
    border: 3px solid #555;
}

.messageArea {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    width: 100%;
}

#message {
    flex: 1;
    margin-right: 10px;
}

#sendmessage {
    display: flex !important;
    justify-content: flex-start;
    align-content: flex-start;
    flex: 0 1 100px;
    text-align: center;
}

#userInfo #displayname {
    flex: 1;
}

#userInfo #setname {
    flex: 0 1 30px;
}

#userInfo .currentName {
    padding-top: 10px;
    color: white;
    flex: 0 1 30px;
}

#addchat {
    display: flex;
    justify-content: flex-start;
}

#TextBoxChatAdd {
    margin: 5px 0 0 5px;
    flex: 1;
}

#ButtonChatAdd {
    flex: 0 1 20px;
    margin: 5px 0 0 5px;
}
